@import url('http://fonts.googleapis.com/css?family=Material+Icons');
@import url('http://fonts.googleapis.com/css?family=Open+Sans');
@import url('http://fonts.googleapis.com/css?family=font-family:Dosis|Lato');
@import url('http://fonts.googleapis.com/css?family=Cambay');
@import url('http://fonts.googleapis.com/css?family=Hind');
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans);
		

	*, *:before, *:after{
	  -webkit-box-sizing: border-box;
		 -moz-box-sizing: border-box;
		  -ms-box-sizing: border-box;
			  box-sizing: border-box;
	}	

	::selection { background-color: #E13300; color: white; }
	::-moz-selection { background-color: #E13300; color: white; }

	html{
		position: relative;
		height:100%;
		padding: 0; 
		margin: 0;
	}
	body {
		margin: 0;
		padding: 0;
		height:100%;
		
		font-family: 'Trebuchet MS', Tahoma, sans-serif;
		
	}
      
	a{
		background-color: transparent;
		font-weight: normal;
	}
          
	a:hover{
		text-decoration: none;
	}
	.no-radius{
		-moz-border-radius: 0 !important;
		-webkit-border-radius: 0 !important;
		border-radius: 0 !important;
	}

	.nopadding {
	   padding: 0 !important;
	   margin: 0 !important;
	}	
	.container-fluid { 
		margin:0px !important; 
	}
	.navbar { 
		margin:0px !important; 
	}
	
	#assessors-section, #assessorSection, #assessment_centres-section, #centreSection, #apprentices-section, #apprenticeSection{
		display: none;
	}
	
		
	#load{ 

	height: 100%; 
	width: 100%; 

	}

	#load {
		position    : fixed;
		z-index     : 99999; /* or higher if necessary */
		top         : 0;
		left        : 0;
		overflow    : hidden;
		text-indent : 100%;
		font-size   : 0;
		opacity     : 0.6;
		background  : #E0E0E0  url('../images/gif/plz_wait.gif') center no-repeat;
	}

.scrollable-xs {
    height: 180px;
	overflow-x: hidden;
    overflow-y: auto;
}
	
	
.scrollable-sm {
    height: 250px;
	overflow-x: hidden;
    overflow-y: auto;
}

.scrollable-md {
    height: 320px;
	overflow-x: hidden;
    overflow-y: auto;
}

.scrollable {
    height: 400px;
	overflow-x: hidden;
    overflow-y: auto;
}

.scrollable-lg {
    height: 450px;
	overflow-x: hidden;
    overflow-y: auto;
}


.notif {
    position: fixed;
    top: 2%;
    left: 50%;
    z-index: 9999;
}

.breadcrumb{
	background-color: #ffffff !important;
}

.text-white{
	color: #fff !important;
}

.table td.text {
    max-width: 177px;
}
.table td.text span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    max-width: 100%;
}

ul.pagination li a{
	padding: 6px 15px ;
	line-height: 20px !important;
	text-decoration: none !important;
	background-color: #ffffff !important;
}

ul.pagination li a:hover,
ul.pagination li a:focus,
.pagination .active > a,
.pagination .active > span {
  background-color: #2d5986 !important;
  color: #ffffff !important;
}

.pagination .active > a,
.pagination .active > span {
  color: #ffffff !important;
  cursor: default !important;
}

.pagination .disabled > span,
.pagination .disabled > a,
.pagination .disabled > a:hover,
.pagination .disabled > a:focus {
  color: #999999 !important;
  cursor: not-allowed !important;
  background-color: transparent !important;
}

.pagination li:first-child > a,
.pagination li:first-child > span {
  border-left-width: 1px;
  -webkit-border-bottom-left-radius: 4px;
          border-bottom-left-radius: 4px;
  -webkit-border-top-left-radius: 4px;
          border-top-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-topleft: 4px;
}

.pagination li:last-child > a,
.pagination li:last-child > span {
  -webkit-border-top-right-radius: 4px;
          border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
          border-bottom-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 4px;
}

	
input[type="text"], input[type="password"], input[type="email"], input[type="tel"], input[type="number"]{
	
	font-family: 'Open Sans', sans-serif;
	font-size: 0.9em;
	width: 100%;
	height: 3.2em !important;
	background: #ffffff;
	
	-webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* IE 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
}


input:hover[type="text"],input:hover[type="password"], select:hover, textarea:hover{
	background-color: #ffffff;
}


textarea{
	
	font-family: 'Open Sans', sans-serif;
	font-size: 0.9em !important;
	width: 100%;
	height: 10em;
	resize: none;
	margin: auto;
	
	border: 0.08em solid #B2B2B2;
	-webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
	background: #ffffff;
		-webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* IE 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
}
textarea:hover,textarea:focus{
	outline: none;
  -moz-box-shadow:none !important;
    -webkit-box-shadow:none !important;
	box-shadow:none !important;
	border:1px solid #ccc !important;
	
}




	
input.floatLabel{
	color: #000000;
}


label{
	color: #737373;
	font-size: 0.9em;
	font-weight: 500;
	transition: color 0.3s, top 0.2s, font-size 0.2s;
}


.textinput label{
	position: absolute;
	top: 5%;
	left: 8px;
	color: #a6a6a6;
	font-size: 0.8em;
	display: inline-block;
	padding: 0.6em 1% 0.15em 1.8%;
	font-weight: 500;
	z-index:999;
	font-size: 1em;
	opacity:1;
    transition: color 0.3s, top 0.2s, font-size 0.2s;
}

label.empty{
  top: 50%;
  transform: translateY(-50%);
  font-size: 1em;
  background: none;
  color: #a6a6a6;
}

.textinput{
	text-align: left;
	position: relative;
	
}


.textinput input.filled ~ label,
.textinput input:focus ~ label {
	top: -25%;
	font-size: 0.8em;
	font-weight: 400;
	position: absolute;
}

.textinput input.filled ~ label {
  color: #333333 !important;
}

.textinput input[type="text"].filled,
.textinput input[type="email"].filled:valid {
  background: #ffffff;
}


	
	.checkbox {
		padding-left: 20px; 
		margin-bottom: 0 !important;
	}
	.checkbox label {
		display: inline-block;
		position: relative;
		padding-left: 5px; 
	}
    .checkbox label::before {
		
      content: "";
      display: inline-block;
      position: absolute;
      width: 17px;
      height: 17px;
      left: 0;
      margin-left: -20px;
      border: 1px solid #cccccc;
      border-radius: 3px;
      background-color: #fff;
      -webkit-transition: border 0.35s ease-in-out, color 0.35s ease-in-out;
      -o-transition: border 0.35s ease-in-out, color 0.35s ease-in-out;
      transition: border 0.35s ease-in-out, color 0.35s ease-in-out; 
	  
	}
    .checkbox label::after {
      display: inline-block;
      position: absolute;
      width: 16px;
      height: 16px;
      left: 0;
      top: 0;
      margin-left: -20px;
      padding-left: 3px;
      padding-top: 1px;
      font-size: 11px;
      color: #555555; 
	}
	
	.checkbox input[type="checkbox"] {
		opacity: 0; 
	}
    .checkbox input[type="checkbox"]:focus + label::before {
      outline: thin dotted;
      outline: 5px auto -webkit-focus-ring-color;
      outline-offset: -2px; 
	}
    .checkbox input[type="checkbox"]:checked + label::after {
      font-family: 'FontAwesome';
      content: "\f00c"; 
	}
    .checkbox input[type="checkbox"]:disabled + label {
      opacity: 0.65; 
	}
    .checkbox input[type="checkbox"]:disabled + label::before {
        background-color: #eeeeee;
        cursor: not-allowed; 
	}
  .checkbox.checkbox-circle label::before {
    border-radius: 50%; }
  .checkbox.checkbox-inline {
    margin-top: 0; }

.checkbox-primary input[type="checkbox"]:checked + label::before {
  background-color: #428bca;
  border-color: #428bca; 
  }
.checkbox-primary input[type="checkbox"]:checked + label::after {
  color: #fff; }

.checkbox-danger input[type="checkbox"]:checked + label::before {
  background-color: #d9534f;
  border-color: #d9534f; }
.checkbox-danger input[type="checkbox"]:checked + label::after {
  color: #fff; }

.checkbox-info input[type="checkbox"]:checked + label::before {
  background-color: #5bc0de;
  border-color: #5bc0de; }
.checkbox-info input[type="checkbox"]:checked + label::after {
  color: #fff; }

.checkbox-warning input[type="checkbox"]:checked + label::before {
  background-color: #f0ad4e;
  border-color: #f0ad4e; }
.checkbox-warning input[type="checkbox"]:checked + label::after {
  color: #fff; }

.checkbox-success input[type="checkbox"]:checked + label::before {
  background-color: #5cb85c;
  border-color: #5cb85c; }
.checkbox-success input[type="checkbox"]:checked + label::after {
  color: #fff; }

.radio {
  padding-left: 20px; margin-bottom: 0 !important;}
  .radio label {
    display: inline-block;
    position: relative;
    padding-left: 5px; }
    .radio label::before {
      content: "";
      display: inline-block;
      position: absolute;
      width: 17px;
      height: 17px;
      left: 0;
      margin-left: -20px;
      border: 1px solid #cccccc;
      border-radius: 50%;
      background-color: #fff;
      -webkit-transition: border 0.15s ease-in-out;
      -o-transition: border 0.15s ease-in-out;
      transition: border 0.15s ease-in-out; }
    .radio label::after {
      display: inline-block;
      position: absolute;
      content: " ";
      width: 11px;
      height: 11px;
      left: 3px;
      top: 3px;
      margin-left: -20px;
      border-radius: 50%;
      background-color: #555555;
      -webkit-transform: scale(0, 0);
      -ms-transform: scale(0, 0);
      -o-transform: scale(0, 0);
      transform: scale(0, 0);
      -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
      -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
      -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
      transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33); }
  .radio input[type="radio"] {
    opacity: 0; }
    .radio input[type="radio"]:focus + label::before {
      outline: thin dotted;
      outline: 5px auto -webkit-focus-ring-color;
      outline-offset: -2px; }
    .radio input[type="radio"]:checked + label::after {
      -webkit-transform: scale(1, 1);
      -ms-transform: scale(1, 1);
      -o-transform: scale(1, 1);
      transform: scale(1, 1); }
    .radio input[type="radio"]:disabled + label {
      opacity: 0.65; }
      .radio input[type="radio"]:disabled + label::before {
        cursor: not-allowed; }
  .radio.radio-inline {
    margin-top: 0; }

.radio-primary input[type="radio"] + label::after {
  background-color: #428bca; }
.radio-primary input[type="radio"]:checked + label::before {
  border-color: #428bca; }
.radio-primary input[type="radio"]:checked + label::after {
  background-color: #428bca; }

.radio-danger input[type="radio"] + label::after {
  background-color: #d9534f; }
.radio-danger input[type="radio"]:checked + label::before {
  border-color: #d9534f; }
.radio-danger input[type="radio"]:checked + label::after {
  background-color: #d9534f; }

.radio-info input[type="radio"] + label::after {
  background-color: #5bc0de; }
.radio-info input[type="radio"]:checked + label::before {
  border-color: #5bc0de; }
.radio-info input[type="radio"]:checked + label::after {
  background-color: #5bc0de; }

.radio-warning input[type="radio"] + label::after {
  background-color: #f0ad4e; }
.radio-warning input[type="radio"]:checked + label::before {
  border-color: #f0ad4e; }
.radio-warning input[type="radio"]:checked + label::after {
  background-color: #f0ad4e; }

.radio-success input[type="radio"] + label::after {
  background-color: #5cb85c; }
.radio-success input[type="radio"]:checked + label::before {
  border-color: #5cb85c; }
.radio-success input[type="radio"]:checked + label::after {
  background-color: #5cb85c; }
	
	
	
	
	
	
	
	